
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="col">
        <h1>Dashboard</h1>
        <p class="lead">Welcome to the estate management system! Make yourself at home!</p>

    </div>
</div>

