@{
    ViewBag.Title = "Error";
}
<div id="editInputs" class="container" style="float: left; width: 100%">
    <div class="jumbotron">
        <h3>Could not find the fault under provided index. Cannot show repairs.</h3>
    </div>
</div>